{{- if eq .type "work" -}}
[{{ .work_project }}-local-app]
host=localhost
port=55432
dbname=local
user=tenant
password=tenant
options=--search_path=common

[{{ .work_project }}-stg]
# Run `co-cli db/connect --env stg` first and keep it running.
host=localhost
port=15432
dbname={{ .work_project }}
user={{ .git_email }}
sslmode=disable
connect_timeout=10
application_name=psql
{{- end }}
